﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 5px;
}

/*
    Centre Inputput placeholder text
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {  Firefox 18- 
    text-align: center;
}

::-moz-placeholder {  Firefox 19+ 
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}*/

body, html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-size: 17px;
}

    p.intro {
        margin: 12px 0 0;
        line-height: 24px;
    }

a, a:visited, a:active {
    color: #a7c44c;
    font-weight: 400;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #333;
    }

ul, ol {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #a7c44c;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline: none;
        outline-offset: none;
    }
/* Navigation */
.navbar {
    margin-bottom: 0px;
}

#menu {
    padding: 10px;
    /*transition: all 0.8s;*/
}

    #menu.navbar-default {
        background-color: rgba(51, 51, 51, 0.6);
        border-color: rgba(231, 231, 231, 0);
    }

    #menu a.navbar-brand {
        font-size: 22px;
        color: #eee;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #menu.navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        color: #a7c44c;
        font-weight: 400;
        font-size: 15px;
        padding: 5px 0;
        border: 2px solid transparent;
        letter-spacing: 0.5px;
        margin: 10px 15px 0 15px;
    }

        #menu.navbar-default .navbar-nav > li > a:hover {
            color: #eee;
        }

        #menu a:hover {
            color:#eee;
        }

/* main.js  $(window).bind('scroll', function()
   background-color for when scrolling down and navbar becomes solid 

.on {
    background-color: #363636 !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}
*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eee !important;
    background-color: transparent;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a7c44c;
    border-color: #a7c44c;
}

    .navbar-default .navbar-toggle:hover > .icon-bar {
        background-color: #FFF;
    }


.section-title {
    margin-bottom: 50px;
}

    .section-title p {
        font-size: 18px;
    }

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 3px #859c3c;
    background-color: #a7c44c;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 17px;
    border-radius: 12px 0 12px 0;
    margin-top: 20px;
    transition: all 0.5s;
}

    .btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
        color: rgba(255,255,255,0.8);
        background-color: #94ae44;
    }
/* Header Section */
/* .intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url("/Content/img/intro-bg2.jpg") no-repeat center bottom;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .overlay {
        background: rgba(0,0,0,0.40);
    }*/

.intro h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.intro h2 {
    color: #eee;
    font-size: 28px;
    font-style: italic;
}

.intro span {
    color: #a7c44c;
    font-weight: 600;
}

.intro p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
}

header .intro-text {
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
}


header .intro-text-function {
    padding: 25px;
    background-color: rgba(51, 51, 51, 0.6);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px; /*Rounded corners*/
}

header input {
    font-size: 18pt;
    height: 50px;
    margin-bottom: 10px;
}

    header input[type=text] {
        width: 100%;
    }

/*
    Start Carousel Fade effect
    Copyright (c) 2018 by Otis Wright (https://codepen.io/chopfitzroy/pen/JoKMgG)
    MIT Licence
*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

        .carousel-fade .carousel-inner > .item.next.left,
        .carousel-fade .carousel-inner > .item.prev.right,
        .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
}

.item:nth-child(1) {
    background: url("/Content/img/intro-bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(2) {
    background: url("/Content/img/intro-bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(3) {
    background: url("/Content/img/intro-bg3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
    z-index: -99;
}

    .carousel .item {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
    }


/*Places and Activities*/
#places, #details {
    padding-bottom: 40px;
    margin-top: -71px;
    background: #eee;
    color: #000;
}


    #places h2, #details h2 {
        color: white;
    }

    #places .col-sm-4.display {
        border-style: solid;
        border-width: 0.05px;
        border-color: rgba(119, 119, 119, 0.2);
        height: 280px;
    }

@media (min-width: 768px) {
    #places .col-sm-9 {
        /*padding-left: 50px;*/
    }
}


#places .row {
    padding-top: 40px;
}

#places input[id=postcode] {
    max-width: 100px;
}


#places .title-header-img {
    background: url("/Content/img/PlacesActivitiesHeader2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 220px;
}

#places .section-title, #details .section-title {
    /*padding-top: 140px;*/
    padding-top: 100px;
}

#details .title-header-img {
    background: url("/Content/img/DetailsHeader2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 220px;
}

#details .dl-horizontal {
    padding-top: 20px;
}

/* Footer Section*/
#footer {
    background: #333;
    padding: 50px 0 20px 0;
}

    #footer .social {
        margin-bottom: 50px;
    }

        #footer .social ul li {
            display: inline-block;
            margin: 0 20px;
        }

        #footer .social i.fa {
            font-size: 26px;
            padding: 4px;
            color: #a7c44c;
            transition: all 0.3s;
        }

            #footer .social i.fa:hover {
                color: #eee;
            }

    #footer p {
        font-size: 15px;
    }

    #footer a {
        color: #999;
    }

        #footer a:hover {
            color: #a7c44c;
        }


/* Form Control Section */

label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}

#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

    #contact .form-control:focus {
        border-color: #999;
        outline: 0;
        -webkit-box-shadow: transparent;
        box-shadow: transparent;
    }

.form-control::-webkit-input-placeholder {
    color: #777;
}

.form-control:-moz-placeholder {
    color: #777;
}

.form-control::-moz-placeholder {
    color: #777;
}

.form-control:-ms-input-placeholder {
    color: #777;
}

header .form-control {
    width: 100px;
    align-self: auto;
}

