﻿@model FuturaMod1.Models.Places

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h4>Details</h4>*@


<div id="details">
    <div class="title-header-img">
        <div class="section-title text-center">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <hr />
        </div>
    </div>
    <div class="container">

        <div>
            <dl class="dl-horizontal">
                @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Suburb)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Suburb)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    VIC
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Postcode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Postcode)
                </dd>
                @{ if (Model.CareType != null)
                    {
                        <dt>
                            Care Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CareType)
                        </dd>
                    }
                }

                @{ if (Model.Provider != null)
                    {
                        <dt>
                            Provider
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Provider)
                        </dd>
                    }
                }

                @{ if (Model.OrgType != null)
                    {
                        <dt>
                            Organisation Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OrgType)
                        </dd>
                    }
                }

                @*<dt>
            Remoteness
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceType)
        </dd>*@

                @{ if (Model.Descri != null)
                    {
                        <dt>
                            Website
                        </dt>

                        <dd>
                            <a href="@Html.DisplayFor(model => model.Descri)" target="_blank">Go to the website</a>
                            @*@Html.DisplayFor(model => model.Descri)*@
                        </dd>
                    }
                }
            </dl>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

