﻿@model IEnumerable<FuturaMod1.Models.Places>

@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="places">
    <div class="title-header-img">
        <div class="section-title text-center">
            <h2>Places and Activities</h2>
            <hr />
        </div>
    </div>

    <div class="container">
        @*<style>
                nav {
                    position: sticky;
                    float: left;
                }
            </style>*@
        <div class="row">
            <h3>Showing places of interest in VIC @ViewBag.ShowPost</h3>
            <br />
            @using (Html.BeginForm())
            {
                <div class="col-sm-4">
                    <p>Change postcode: <input type="text" id="postcode" name="postString" value="@ViewBag.ShowPost" /></p>    
                    <p>Search by name: <input type="text" id="search" name="searchString" value="@ViewBag.ShowName" /></p>
                </div>


                <div class="col-sm-8">
                    <p>Filter category:</p>
                    <p>
                        <label class="checkbox-inline"><input id="community" name="communityCheck" type="checkbox" @(ViewBag.def1 ? "" : "checked") @(ViewBag.chk1 ? "checked" : "") value="true">Community</label>
                        <label class="checkbox-inline"><input id="centre" name="centreCheck" type="checkbox" @(ViewBag.def2 ? "" : "checked") @(ViewBag.chk2 ? "checked" : "") value="true">Aged Care Centre</label>
                        <label class="checkbox-inline"><input id="club" name="clubCheck" type="checkbox" @(ViewBag.def2 ? "" : "checked") @(ViewBag.chk3 ? "checked" : "") value="true">Seniors Club</label>
                        <label class="checkbox-inline"><input id="park" name="parkCheck" type="checkbox" @(ViewBag.def2 ? "" : "checked") @(ViewBag.chk4 ? "checked" : "") value="true">Park</label>
                        <label class="checkbox-inline"><input type="submit" value="Search" /></label>
                    </p>
                    
                    @*</nav>*@
                </div>


            }
        </div>
        <div class="row">
            <p style="color:red">@ViewBag.Err</p>
            @foreach (var item in Model)
            {
                <div class="col-sm-4 display">
                    <div class="caption">
                        <h3>@item.Name</h3>
                        <p>@item.Address, @item.Suburb</p>
                        <p>@item.Postcode</p>
                        <p>@item.PlaceType</p>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                </div>
            }
        </div>
    </div>
</div>