﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        @*Div contains image 1 of carousel*@
                    </div>

                    <div class="item carousel-img2">
                        @*Div contains image 2 of carousel*@
                    </div>

                    <div class="item carousel-img3">
                        @*Div contains image 3 of carousel*@
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <div class="intro-text-function">
                            <h1>VIC Senior Life</h1>
                            <h2>You are not alone</h2>

                            <p>Find senior friendly places of interest in your neighbourhood.</p>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <input type="text" name="postCode" placeholder="Enter Postcode" />
                                <input type="submit" value="Search" />
                                <h3 style="color: red">
                                    Invalid postcode, please try again
                                    <br />
                                    Or<a href="http://auspost.com.au/postcode/" target="_blank"> click here </a> to check your postcode
                                </h3>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



